{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load comments_tree %}
{% block content %}

<section class="single-blog-area" style="padding-bottom: 140px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{{ post.title }}</h2>
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="" height="400px" width="auto">
                                {% else %}
                                <img src="{% static 'blog/img/blog-image1.jpg' %}" alt="" height="400px" width="auto">
                                {% endif %}
                                <div class="for-style">
                                    <p>{{ post.content|safe }}</p>
                                </div>
                            </div>
                            <div class="comment">
                                <form action="{% url 'comment_create' %}" method="POST">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <input type="submit" class="btn btn-primary" value="Отправить">
                                </form>
                            </div>
                            <br>
                            <div class="commententries">
                                <h3>Комментарии</h3>
                                {{ comments|comments_filter }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tags">
                            <h2 class="sidebar-title">Категрия</h2>
                            <p><a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></p>
                        </div>
                        <div class="tags">
                            <h2 class="sidebar-title">Теги</h2>
                            {% for tag in post.tags.all %}
                            <p><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}